
$primary: #a2a3b0;
$secondary: #6f8da2;
$alternative-secondary: #8f8e95;
$dark: #34303e;
$light: #f4f2f6;
$success: #78a77b;
$info: #4b475a;
$warning: #ddab65;
$danger: #e98a83;

@import "~bootstrap/scss/bootstrap.scss";